* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  border: border-box;
  /* using border box allows the border to be included within the height and width of the specified DIV */
}

.navbar {
  height: 60px;
  color: white;
  background-color: #0f1111;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-logo {
  height: 50px;
  width: 100px;
}

.logo {
  height: 50px;
  width: 100%;
  background-size: cover;
  background-image: url(amazon_logo.png);
}

.border {
  border: 2px solid transparent;
}

.border:hover {
  border: 2px solid white;
}

/* Second Box */

#add-first {
  color: #cccc;
  font-size: 0.85rem;
  margin-left: 15px;
}

#add-second {
  font-size: 1rem;
  margin-left: 3px;
}

.add-icon {
  display: flex;
  align-items: center;
}

/* BOX3 */

.nav-search {
  display: flex;
  justify-content: space-evenly;
  background-color: yellow;
  width: 620px;
  height: 40px;
  border-radius: 4px;
}

.search-select {
  background-color: #f3f3f3;
  width: 50px;
  text-align: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
}

.search-input {
  width: 100%;
  border: none;
  font-size: 1rem;
}

.search-icon {
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: #0f1111;
  background-color: rgb(248, 174, 1);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* BOX4 */

/* .nav-signin
{

} */

span {
  font-size: 0.7rem;
}

.nav-second {
  font-size: 0.85rem;
  font-weight: 700;
}
